* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 40px;
    background: hsl(0, 45%, 64%);
    color: white;
    position: fixed;
    width: 100%;
}

.logo {
    font-size: 20px;
    font-weight: bold;}

.nav-links {
    list-style: none;
    display: flex;}
.nav-links li {
    margin-left: 20px;}
.nav-links a {
    text-decoration: none;
    color: white;
    transition: 0.3s;
}

.nav-links a:hover {
    color: #00bcd4;
}

.toggle {
    display: none;
    font-size: 28px;
    cursor: pointer;
}

.section {
    padding: 100px 40px;
    text-align: center;
}

.hero {
    background: linear-gradient(to right, #00bcd4, #2196f3);
    color: white;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.about {
    background: #f4f4f4;
}

.contact {
    background: #ffffff;
}

form {
    max-width: 400px;
    margin: auto;
    display: flex;
    flex-direction: column;
}

input, textarea {
    margin: 10px 0;
    padding: 10px;
    border: 1px solid #ccc;
}

button {
    padding: 10px;
    background: #2196f3;
    color: white;
    border: none;
    cursor: pointer;
    transition: 0.3s;
}

button:hover {
    background: #00bcd4;
}

#form-message {
    margin-top: 10px;
    font-weight: bold;
}

@media (max-width: 768px) {

    .nav-links {
        position: absolute;
        top: 60px;
        right: 0;
        background: #222;
        flex-direction: column;
        width: 200px;
        display: none;
    }

    .nav-links li {
        margin: 15px 0;
        text-align: center;
    }

    .toggle {
        display: block;
    }

    .nav-links.active {
        display: flex;
    }
}

@media (max-width: 480px) {
    .section {
        padding: 80px 20px;
    }

    h1 {
        font-size: 24px;
    }

    h2 {
        font-size: 20px;
    }
}